:root {
    --gross-green: #C0CA33;
    --electric-orange: #FF5F00;
    --beige: #ECEAE4;
    --black: #000000;

    --serif-font-family: "Times New Roman", serif;
    --sans-serif-font-family: "Syne", "Helvetica Neue", sans-serif;
}

body {
    font-family: var(--serif-font-family);
    background-color: var(--gross-green);
    color: var(--black);
}

header {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-bottom: 8.75rem;
    padding-bottom: 0.625rem;
}

h1, h2, h3 {
    font-family: var(--sans-serif-font-family);
    text-transform: uppercase;
}
h1 {
    font-size: 7.5vw;
    position: relative;
    line-height: 1;
}
h1::before {
    content: "Cristina Silva";
    color: var(--beige);
    position: absolute;
    z-index: -1;
    top: 5px;
    left: 5px;
}
h2 {
    font-size: 2.5rem;
    margin-bottom: 2.25rem;
}
h3 {
    font-size: 1.375rem;
    line-height: 1.2;
    font-family: var(--serif-font-family);
    text-transform: none;
    font-weight: 400;
    letter-spacing: -0.04rem;
}
h4 {
    font-size: 0.875rem;
    font-family: var(--sans-serif-font-family);
    font-weight: 600;
}
header h2 {
    padding-left: 0.5rem;
    padding-bottom: 0.5rem;
    border-bottom: 2px solid var(--black);
    line-height: 1;
    margin: 0 -0.25rem 0.5rem;
    font-size: 4.45vw;
}
main { 
    min-height: 100vh;
    margin-left: 0.5rem;
}
footer {
    background-color: var(--black);
    color: var(--beige);
    margin-top: 5rem;
    padding: 6.25rem 0.5rem;
}
a {
    color: var(--electric-orange);
}
a:focus-visible {
    outline: 2px dotted currentColor;
    outline-offset: 2px;
}
section {
    position: relative;
}
section:focus-visible {
    outline: 4px dotted currentColor;
    outline-offset: 12px;
}
.header-body {
    letter-spacing: -0.05rem;
    font-size: 2rem;
    line-height: 1.1;
    max-width: 63ch;
    margin-left: 9px;
}
.email-cta {
    color: var(--gross-green);
    font-size: 22px;
    margin-bottom: 20px;
    display: inline-flex;
}
.tabbed {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: max-content 1fr;
    column-gap: 60px;
    max-width: 1000px;
}
.tabbed ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.role-column {
    display: flex;
    align-items: flex-start;
    gap: 20px;
}
.role-list li a {
    padding: 4px 16px;
    color: var(--black);
    border-radius: 10px;
    font-family: var(--sans-serif-font-family);
    text-decoration: none;
    border: 2px solid var(--black);
    display: inline-flex;
    font-size: 1.1rem;
    text-transform: lowercase;
    font-weight: 700;
    transition: background-color 0.2s ease, color 0.2s ease;
}
.role-list li a:focus {
    outline: 2px solid var(--black);
    outline-offset: 2px;
}
.role-list li a:hover,
.role-list li a[aria-selected="true"] {
    background-color: var(--black);
    color: var(--beige);
}
.role-list li a:not(last-child) {
    margin-bottom: 2.5rem;
}
.role-content {
    position: relative;
}
.role-header {
    margin-bottom: 1.75rem;
    display: flex;
    align-items: center; 
}
.role-header:not(:first-child) {
    margin-top: 2.5rem;
}
.current-role-badge {
    animation: rotate 18s infinite linear;
    width: 75px;
    height: 75px;
    position: relative;
    left: -12px;
}
.role-content p,
.role-content ul {
    max-width: 60ch;
    letter-spacing: -0.035rem;
    font-size: 1rem;
}
.role-content p {
    margin-bottom: 1.5rem;
}
ul.table-list {
    margin-top: 4px;
    line-height: 1.4;
    border-radius: 8px;
    border: 2px solid var(--black);
}
ul.table-list li {
    padding: 12px;
}
ul.table-list li:not(:last-of-type) {
    border-bottom: 2px solid var(--black);
}
footer h2 {
    margin-bottom: 1.25rem;
}
footer p {
    letter-spacing: -0.035rem;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg)
    }
    100% {
        transform: rotate(360deg)
    }
}