:root {
    --gross-green: #C0CA33;
    --electric-orange: #FF5F00;
    --beige: #ECEAE4;

    --serif-font-family: "Times New Roman", serif;
    --sans-serif-font-family: "Syne", "Helvetica Neue", sans-serif;
}

body {
    font-family: var(--serif-font-family);
}